<div class="ui segment">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Package</th>
            </tr>
        </thead>
        <tbody>
            <% pageData.forEach((recentOpenApps) => { 
                let date = new Date(parseInt(recentOpenApps.eventTime));
            %>
            <tr>
                <td class="collapsing"><%= date.toLocaleString('en-US', {timeZone: 'Asia/Phnom_Penh'}) %></td>
                <td class="collapsing" title="<%= recentOpenApps.appName %>"><a
                        href="?filter=<%= recentOpenApps.appName %>"><%= recentOpenApps.appName %></a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>